@font-face {
    font-family: Vazir-Medium;
    src: url(../fonts/Vazir-Medium.eot) format("eot"), url(../fonts/Vazir-Medium.woff) format("woff"), url(../fonts/Vazir-Medium.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

*,
body {
    direction: rtl;
    font-family: Vazir-Medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: #1d1313;
    position: absolute;
    overflow: hidden;
}
.wrapper span.menu {
    z-index: 99;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 35px;
    height: 4px;
    background-color: #fff;
    cursor: pointer;
}

.wrapper span.menu::before,
.wrapper span.menu::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    background-color: #fff;
    width: 35px;
    height: 4px;
}

.wrapper span.menu::before {
    top: -8px;
}

.wrapper span.menu::after {
    bottom: -8px;
}

.wrapper .overlay {
    background-color: #40beff;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -99%;
    transition: all 0.5s ease;
}

.wrapper .overlay ul {
    width: 100%;
    text-align: center;
    margin-top: 335px;
    padding-left: 0;
    margin-left: -10px;
    font-size: 18px;
}

.wrapper .overlay ul li {
    margin: 20px 0;
}

.wrapper .overlay ul li a {
    color: #fff;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.wrapper .overlay ul li a::after {
    display: block;
    border: 2px;
    content: "";
    left: 0;
    bottom: -10px;
    height: 5px;
    background-color: #fff;
    transform: translateX(-101%);
}

.wrapper .overlay ul li a:hover::after {
    animation: border-anim 0.5s ease normal;
}

@keyframes border-anim {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.anim {
    left: 0;
    bottom: 0;
    width: 25%;
    transition: all 0.5s ease;
    animation: menu-anim 1.5s ease-out forwards;
}

@keyframes menu-anim {
    0% {
        left: 0;
        bottom: -99%;
        width: 100%;
    }
    33% {
        left: -99.5%;
        bottom: -99%;
        width: 100%;
    }
    66% {
        left: -99.5%;
        bottom: 0;
        width: 100%;
    }
    100% {
        left: 0;
        bottom: 0;
        width: 25%;
    }
}
